<footer class="w-full flex justify-center gap-8 mb-8">
    <a href="https://github.com/igstefano/proximo-feriado" class="text-xs no-underline text-emerald-900 dark:text-emerald-100">GitHub</a>
</footer>