---
import GitHubLogo from "./GitHubLogo"


---

<footer class="w-full flex justify-center items-center gap-2 mb-8">
    <a href="https://github.com/igstefano/proximo-feriado" class="flex gap-2 items-center no-underline text-emerald-900 dark:text-emerald-100">
        <GitHubLogo client:only /> GitHub
    </a>
</footer>